<div ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img alt="" src="https://images.pexels.com/photos/94685/pexels-photo-94685.jpeg?h=350&auto=compress&cs=tinysrgb" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img alt="" src="https://images.pexels.com/photos/94685/pexels-photo-94685.jpeg?h=350&auto=compress&cs=tinysrgb" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img alt="" src="https://images.pexels.com/photos/94685/pexels-photo-94685.jpeg?h=350&auto=compress&cs=tinysrgb" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img alt="" src="https://images.pexels.com/photos/94685/pexels-photo-94685.jpeg?h=350&auto=compress&cs=tinysrgb" />
        </div>
    </div>
</div>
