<div ng-controller="dashboardCtrl">
    <br>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <img width=700 height=500 alt="" src="../assets/img/Scatter.png" />
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img width=300 height=200 alt="" src="../assets/img/plot1.png" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img width=300 height=200 alt="" src="../assets/img/plot2.png" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img width=300 height=200 alt="" src="../assets/img/plot3.png" />
        </div>
    </div>
</div>
