<div style="background-color:hsl(0, 0%, 98%);" ng-controller="dashboardCtrl">
    <br>
    <div style="position:fixed;" class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            <div style="padding-left:10px;">

                <div id="providersList">
        			 <input type="text" value="" class="inputFeild" name="myAddress" id="myAddress" placeholder="Supplier name, ..." required="" autocomplete="off" ng-model="q" >

        			 <div id="providersListDetails">
        			 	<div ng-repeat="x in providersList | filter:q as results" id={{x.fields.cofor_fnr_liv}} class="poiProviders"   >
        			    	<div > <b> {{x.fields.libelle_fnr_fab}}  </b> </div>
        			    	<div> {{x.fields.cofor_fnr_liv}}   </div>
        			    </div>
        			    <div class="poiProviders"   ng-if="results.length === 0">
        			    	<div> Not found ... </div>
        			    </div>
        			</div>
        		</div>
            </div>
        </div>
        <div  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div style="overflow:scroll;height:550px;">
                <img width=700 height=500 alt="" src="../assets/img/Scatter.png" />
                <br>
                <img alt="" src="../assets/img/plot2.png" />
                <br>
                <img alt="" src="../assets/img/plot1.png" />
                <br>
                <img alt="" src="../assets/img/plot3.png" />
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

        </div>
    </div>

</div>
