<!DOCTYPE html>
<html>
<head>
	<title> Just in Time - Dashboard </title>

	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" href="../assets/css/style-main.css">


</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news"> Orders </a></li>
  <li><a href="#contact">Real Time</a></li>
  <li><a href="#about">About</a></li>
</ul>







</body>
</html>