*,body{
    margin: 0;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.navBar ul> li {
    float: left;  
}

.navBar ul> li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar ul> li a:hover {
    background-color: #111;
}


.homeContent{
   background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-position: 30% 20%; 
    border: 1px red solid; 
    width: 100%;
    min-height: 800px;
}

#providersList{
    width: 350px;  
    float: left;
}

#providersMap{
     float: right;
     height: 600px;
     width: calc(100% - 360px); 
}


.inputFeild {
    border: 0 solid;
    height: 38px;
    margin: 10px;
    width: 95%;
    text-align: left;
    border-bottom: 1px solid gray;
    font-size: 14px;
    padding: 5px;
    line-height: 1.42857143;
    font: 0.9375em/1.5 "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}


.poiProviders{
    width: 100%;
    padding: 10px;
    background-color: #1EB98F;
    color: white;
    border-left: 6px gray solid;
    margin: 2px auto;
}

.poiProviders:hover{
  background-color: #2f9e7e; 
  cursor: pointer;  
}



#providersListDetails{

    overflow:scroll; 
    height:550px;
}
